<!doctype html>
<!--Antonio Irizarry OSU: CS 290 Assignment 6-->
<html>
<head>
    <title>Assignment 6: Databases</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>


<body>

  <div id="wrapper">
    {{{body}}}
  </div>
</body>



</html>
